/*
html { width: 100%; overflow-x: hidden; }
body { width: 100%; margin: 0; padding: 0%; overflow-x: hidden; }

a { text-decoration: none; outline: none; }
a:active { outline: none; }

ul { list-style: none; margin: 0 0 0 0; padding: 0; }

#sidebar > *, #content > *, #content input, #footer > * {
  font-size: 1em;
}

#header { background-color: rgba(225,225,225,0.75); width: 100%; padding: 0 1% 0.5% 1%; }
#header ul { float: right; margin: 0 0 0 0; }
#header li { display: inline; }

#sidebar { padding: 1%; width: 21%; float: left; background: rgba(100, 100, 100, 0.5); }
#sidebar p { padding: 0 0 0 0; margin: 0; }
#sidebar form { padding: 0; }

#content { width: 77%; padding: 0; float: left; }


.primary {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.similar {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
*/

html { background-color: black; }

html,body,p,div,h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; line-height: 1em; }

p { margin: 0.5em 0.5em 0.5em 0.5em; }

div#flash, div#header, div.pagination, p, form { background-color: rgba(255,255,255,0.8); }

#header { padding: 0.5em; margin: 0 0 0.5em 0; }
#footer { float: right; margin: 0 0 0 0; }
#footer p { text-align: right; padding: 0.25em; }

.image { float: left; margin: 0 0 0.25em 0; width: 100%; height: 33em; position: relative; }
.image img { opacity: 0; }
#content p { padding: 0.5em; }

#content input {
  font-size: 1.5em;
}

.primary-wrapper { width: 80%; height: 70%; float: left; }
.secondary-wrapper { width: 100%; height: 100%; }

.primary {
  overflow: hidden;
  width: 80%; height: 84%; float: left; 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  left: 0;

}
.similar {
  overflow: hidden;
  width: 20%; height: 33.33333333%; float: left; text-align: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pagination { width: 80%; text-align: center; clear: both; padding: 1em 0 1em 0; }
.pagination a, .pagination span, .pagination em { padding: 0 0.5% 0 0.5%; display: inline-block; width: 3em; }
.pagination .previous_page, .pagination .next_page { width: 6em; }
.pagination em.current { font-weight: bold; color: red; }

form { overflow: hidden; padding: 1em; -webkit-user-select:none; -moz-user-select:none; }
input { width: 90%; margin: 0.5em 100% 0.5em 0.25em; padding: 0.25em; }
input[type="submit"] { width: 12em; -webkit-appearance: none; }
input[type="checkbox"] { width: auto; }

#person_remember_me { margin: 1em; }
label[for="person_remember_me"] { display: inline; x-vertical-align: middle; padding: 2em 2em 2em 5em; margin: 0 0 0 -5em; }

#error_explanation { margin: 0 0 1em 0; background-color:#ffcccc; border: 0.25em solid red; vertical-align:top; padding: 0.5em; }
#error_explanation h2 { color: maroon; margin: 0; }
#error_explanation ul li { list-style: square; margin: 0 0 0 1em; }

.field_with_errors input { background-color: yellow; }
div.field_with_errors { display: inline; }

#flash { padding: 1em; margin: 0 0 0em 0; }
.notice { margin: 0em; border: 0.25em solid green; background-color: #00aa00; padding: 0.5em; }
.alert { margin: 0em; background-color:#ffcccc; border: 0.25em solid red; background-color: yellow; padding: 0.5em; }

#risingcode-grid, #original-grid {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#risingcode-grid canvas, #original-grid canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
/*
canvas, svg {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
*/
