html { width: 99% }
body { background-color: rgba(0,0,0,0); width: 98%; margin: 0; padding: 1%; }

a { text-decoration: none; outline: none; }
a:active { outline: none; }

form { overflow: hidden; }
label { display: block; }
input { width: 90%; margin: 0.5em 100% 0.5em 0.25em; padding: 0.25em; -webkit-appearance:none; }
input[type="submit"] { width: 33%; }
input[type="checkbox"] { width: auto; -webkit-appearance: checkbox; }

h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; }

#sidebar > *, #content > *, #content input, #footer > * {
  font-size: 1em;
}

#header { background-color: rgba(225,225,225,0.75); width: 98%; padding: 1%; }
#header ul { float: right; margin: 0 0 0 0; }
#header li { display: inline; }

#sidebar { padding: 2%; width: 29%; float: left; background: rgba(100,100,100,0.5); min-height: 1em; }

#content { background-color: #f0f0f0; width: 63%; padding: 1% 2% 2% 2%; float: left; min-height: 8em; }

#footer { padding: 0; clear: both; width: 100%; }
#footer p { text-align: right; padding: 0.25em; }

#person_remember_me { margin-right: 0; }
label[for="person_remember_me"] { display: inline; }

#error_explanation { margin: 1em 3em 1em 0; background-color:#ffcccc; border: 0.25em solid red; vertical-align:top; padding: 1em 1em 0em 1em; }
#error_explanation h2 { color: maroon; margin: 0; }
#error_explanation ul li { list-style: square; margin: 0 0 0 1em; }

.field_with_errors input { background-color: yellow; }
div.field_with_errors { display: inline; }

.notice { background-color: green; margin: 0.5em 3em 0.5em 0; }
.notice p { padding: 0.25em; }

.alert { background-color: yellow; margin: 0.5em 3em 0.5em 0; }
.alert p { padding: 0.25em; }

.image { float: left; margin: 0 0 2em 0; }
.imagewrapper { clear: both; }
.primary { width: 37.5em; float: left; }
.primary img { width: 36.5em; }
.similar { width: 19.5em; float: left; text-align: center; }

/* TODO: cloud tag styles */

.completions { border: 0.25em solid #c3c3c3; background: white; }
.completions li { padding: 0.25em; } 
.selected { background-color: #c3c3c3; }
.tag { padding: 0.25em; }
.findings li { display: inline; }
.findings li img { margin: 2em; vertical-align: middle; }

.pagination { }
.pagination a, .pagination span { font-size: 1.5em; display: block; float: left; padding: 0.25em; }
.pagination span.disabled { }
.pagination span.current { font-weight: bold; color: red; }
.pagination a { text-decoration: none; }
.pagination a:hover, .pagination a:focus { }
.pagination:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .pagination { height: 1%; }
*:first-child+html .pagination { overflow: hidden; }

div {
  margin: 0;
  padding: 0;
  max-width: 2048px;
  background-color: rgba(0, 0, 0, 0.0);
}

#risingcode-grid, #original-grid {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
#risingcode-grid canvas, #original-grid canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
canvas, svg {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
